<button mat-button color="primary" (click)="sortBy = sortBy === 'asc' ? 'desc' : 'asc'">
  <span>SORT</span>
  <mat-icon>sort_by_alpha</mat-icon>
</button>

<mat-list role="list" *ngIf="links.length > 0;else noLinks">
  <a mat-list-item *ngFor="let link of links | orderBy : [sortBy]" [href]="link" target="_blank">{{link}}</a>
</mat-list>

<ng-template #noLinks>
  <div>No links</div>
</ng-template>
